<div id="home-image">
  <%= image_tag "messed_up_camp_marae" %>
</div>

<iframe width="560" height="315" src="https://www.youtube.com/embed/KGxM8NxLp7E?rel=0" frameborder="0" allowfullscreen></iframe>

<div class="fb-page" data-href="https://www.facebook.com/lifeteenwellington" data-width="500" data-height="500" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"></div>